@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 60px;
  letter-spacing: 1.75px;
  text-decoration: underline;
  text-transform: uppercase;
}
.titleSkill {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  margin-bottom: 40px;
  margin-right: 160px;
  color: #f3a108;
   /* Add spacing between the section above */
  text-align: center;
  text-transform: uppercase;
}


.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}



.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skillBar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skillImageContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbdfe3;
  border-radius: 50%;
  margin-right: 20px;
}

.skillImageContainer img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.skillBarContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skillBarContent p {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.skillLevel {
  height: 20px;
  background-color: #c87f40;
  border-radius: 5px;
  margin-top: 5px;
  width: 0; /* Initial width is set to 0 */
  transition: width 2s ease-in-out;
}

.skillLevel.animate {
  width: 100%; /* This will grow the bar to its full width */
}



/* .history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
 
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
} */

/* @media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
} */

/* Experience (same styles, but with 'history' classes) */

/* History Section */
.history {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
}

.history::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #585353;
  left: calc(50% - 1px);
}

.historyItem {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
 

}

.historyItem:last-child {
  margin-bottom: 0;
}

.historyItem:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.historyItem:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.historyItemDetails{
  background-color: #656464;
	padding: 30px;
	border-radius: 5px;
}


.historyItemDetails h3 {
  color: #ff8c00;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  list-style-type: none;  /* Remove bullet points */
  padding-left: 0; /* Remove left padding */
}

.historyItemDetails p {
  font-size: 18px;
  color: #ff8c00;
  margin: 6px 0 15px;
}

.historyItemDetails ul {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  list-style-type: none;  /* Remove bullet points */
  padding-left: 0; /* Remove left padding */
}

/* Responsive adjustments for Experience */
@media (max-width: 767px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }
  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .history::before {
    left: 7px;
  }

  .historyItem:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }

  .historyItem:nth-child(odd),
  .historyItem:nth-child(even) {
    padding-left: 37px;
  }

  .historyDot {
    left: 0;
  }

  .timeline-dot {
    left: 0;
  }
}
